@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

@use "base/reset";

@use "layout/header";
@use "layout/session";
@use "layout/companies";
@use "layout/start-work";
@use "layout/why-us";
@use "layout/advertising";
@use "layout/moving";
@use "layout/footer";

@include mix.font-face("DMSans", 400);
@include mix.font-face("DMSans", 500);
@include mix.font-face("DMSans", 700);
@include mix.font-face("HelveticaNeue", 400);
@include mix.font-face("HelveticaNeue", 500);
@include mix.font-face("HelveticaNeue", 700);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "DMSans";
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: calc(100vw - 20px);
}
