@use "../abstracts/variables" as var;

.companies {
  padding-top: 80px;
  background-color: var.$main-bg;
}

.companies__h2 {
  display: none;
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.company {
  flex-basis: 50%;
  max-width: 140px;
}

.company__img {
  max-width: 140px;
}
