@use "../abstracts/variables" as var;

.companies {
  padding-top: 80px;
  background-color: var.$main-bg;
}

.companies__h2 {
  display: none;
}

.companies__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
}

.company {
  flex-basis: 50%;
  max-width: 140px;
}

.company__img {
  max-width: 140px;
}

@media (min-width: 1360px) {
  .companies__list {
    row-gap: 50px;
  }

  .company {
    &:first-child {
      max-width: 277px;
      .company__img {
        max-width: 277px;
      }
    }

    &:nth-child(2) {
      max-width: 202px;
      .company__img {
        max-width: 202px;
      }
    }

    &:nth-child(3) {
      max-width: 209px;
      .company__img {
        max-width: 209px;
      }
    }

    &:last-child {
      max-width: 307px;
      .company__img {
        max-width: 307px;
      }
    }
  }
}
