@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

@use "base/reset";

@use "layout/header";
@use "layout/session";
@use "layout/companies";
@use "layout/start-work";
@use "layout/why-us";
@use "layout/advertising";
@use "layout/moving";
@use "layout/footer";

@include mix.font-face("DMSans", 400);
@include mix.font-face("DMSans", 500);
@include mix.font-face("DMSans", 700);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "DMSans";
  font-size: 16px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  max-width: calc(100vw - 20px);

  @media (min-width: 380px) {
    max-width: calc(100vw - 40px);
  }
  @media (min-width: 760px) {
    max-width: calc(100vw - 120px);
  }
  @media (min-width: 1024px) {
    max-width: calc(100vw - 240px);
  }
}

:focus {
  outline: 3px solid blue;
}

.skip-link {
  position: absolute;
  top: -40px;
  background-color: orange;
  color: #000;
  padding: 8px 16px;
  z-index: 10;
  text-decoration: none;
}

.skip-link:focus {
  top: 0;
}
